{% extends "base.html" %}

{% block content %}

<style type="text/css"> 
    .textBox {
        width: 85%;
        padding-inline-start: 20px;
    }

</style>   

    <h1 style="padding-inline-start: 15px;"></h1>

    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="textBox">
                <p class="promptText">Think about the different situations/events you experienced today and select one in which you experienced positive or negative feelings.<br>For the situation you selected, did you experience mostly positive or negative feelings?</p>
                
                <div style="margin-bottom: 6px;">
                    <label>
                        <input type="radio" name="choice" value="True"
                            {% if form.choice.data == 'True' %}checked{% endif %}>
                        Mostly positive feelings
                    </label>
                </div>

                <div style="margin-bottom: 12px;">
                    <label>
                        <input type="radio" name="choice" value="False"
                            {% if form.choice.data == 'False' %}checked{% endif %}>
                        Mostly negative feelings
                    </label>
                </div>

                {{ form.submit(class="button") }}
            </div>
        </form>
    {% endif %}

{% endblock %}