{% extends "base.html" %}

{% block content %}

    <h1 style="padding-inline-start: 15px;">Personality Components</h1>

    <div style="padding-inline-start: 20px;">
        <p>
            Enter up to 10 personality components from the Person in Context Survey.
            These will be available during future situation entries so the client can
            indicate which ones may have influenced their reaction.
        </p>

        <form action="" method="post">
            {{ form.hidden_tag() }}

            {{ form.comp1.label }}<br>
            {{ form.comp1(class="formbody", style="width:350px; height:35px", spellcheck="true") }}<br><br>

            {{ form.comp2.label }}<br>
            {{ form.comp2(class="formbody", style="width:350px; height:35px", spellcheck="true") }}<br><br>

            {{ form.comp3.label }}<br>
            {{ form.comp3(class="formbody", style="width:350px; height:35px", spellcheck="true") }}<br><br>

            {{ form.comp4.label }}<br>
            {{ form.comp4(class="formbody", style="width:350px; height:35px", spellcheck="true") }}<br><br>

            {{ form.comp5.label }}<br>
            {{ form.comp5(class="formbody", style="width:350px; height:35px", spellcheck="true") }}<br><br>

            {{ form.comp6.label }}<br>
            {{ form.comp6(class="formbody", style="width:350px; height:35px", spellcheck="true") }}<br><br>

            {{ form.comp7.label }}<br>
            {{ form.comp7(class="formbody", style="width:350px; height:35px", spellcheck="true") }}<br><br>

            {{ form.comp8.label }}<br>
            {{ form.comp8(class="formbody", style="width:350px; height:35px", spellcheck="true") }}<br><br>

            {{ form.comp9.label }}<br>
            {{ form.comp9(class="formbody", style="width:350px; height:35px", spellcheck="true") }}<br><br>

            {{ form.comp10.label }}<br>
            {{ form.comp10(class="formbody", style="width:350px; height:35px", spellcheck="true") }}<br><br>

            {{ form.submit(class="button") }}
        </form>
    </div>

{% endblock %}